// inner
@mixin inner($w, $h: null) {
  .inner {
    width: $w;

    @if $h != null {
      height: $h;
    }

    margin: 0 auto;
    // .inner 내부에 추가 스타일을 주입할 때 사용
    @content;
  }
}

// absolute position 세팅
@mixin abs-pos($positions) {
  position: absolute;

  @each $dir, $value in $positions {
    #{$dir}: $value;
  }
}

// flex 
@mixin col-flex($gap: null, $center: false){
    display: flex;
    flex-direction: column;

    @if $gap != null {
        gap: $gap;
    }

    @if $center == true {
        justify-content: center;
        align-items: center;
    }
}

@mixin row-flex($gap: null, $center: false){
    display: flex;

    @if $gap != null {
        gap: $gap;
    }

    @if $center == true {
        justify-content: center;
        align-items: center;
    }
}

