// font-family
$font-main: "verdana";
$font-sub: "Courier";
$font-fallback: "monospace";

$font-family-basic: $font-main, $font-sub, $font-fallback;

// font-size
$font-size: (
    sm: 8px,
    md: 16px,
    lg: 24px,
    xl: 32px,
);

// font-weight
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
)

