// font-family
$font-main: "verdana";
$font-sub: "Courier";
$font-fallback: "monospace";

$font-family-basic: $font-main, $font-sub, $font-fallback;

// font-size
$font-size: (
    sm: 8px,
    md: 16px,
    lg: 24px,
    xl: 30px,
);

// font-weight
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
);

// color
$color: (
    black: rgb(0, 0, 0),
    light-gray: rgb(128, 128, 128),
    dark-gray: rgb(54, 53, 53),
)
