@use "./resetCss";
@use "./variables" as vars;
@use "./mixin" as mixin;

* {
  // 전역 기본 폰트
  font-family: vars.$font-family-basic;
}

header {
  border-bottom: 1px solid map-get(vars.$color, black);
  position: fixed;
  width: 100%;
  background-color: map-get(vars.$color, white);

  a{
    padding: 5px 20px;

    &:hover{
      color: map-get(vars.$color, black);
    }
  }

  // 공용 inner
  @include mixin.inner(1180px, vars.$header-height) {
    position: relative;

    .header__logo {
    @include mixin.abs-pos((bottom: 10px, left: 100px));  
    font-size: map-get(vars.$font-size, xl);
    font-weight: map-get(vars.$font-weight, bold);
    }

    .header__utility-menu {
    @include mixin.abs-pos((right: 20px, top: 10px));
    color: map-get(vars.$color, light-gray);

    display: flex;
    gap: 20px;
    }

    .header__main-menu {
    @include mixin.abs-pos((bottom: 20px, right: 0));
    color: map-get(vars.$color, light-gray);
    font-weight: map-get(vars.$font-weight, bold);
  
    display: flex;
    gap: 25px;
    }
  } 
}

.hero-image{
  @include mixin.flex-center(column, 20px);
  height: 590px;
  color: map-get(vars.$color, white);
  padding-top: vars.$header-height;

  background-image: url('../img/bg_main.png');

  & > *{
    width: 1000px;
  }

  .hero-image__title{
    font-size: map-get(vars.$font-size, xxl);
  }

  .hero-image__description{
    font-size: map-get(vars.$font-size, lg);
  }
}

.recent-news{
  @include mixin.inner(1180px, 450px){
    @include mixin.flex-center(column, 40px);
  };

  .recent-news__item{
   display: flex;
   gap: 40px;
  }

  figure{
   display: flex;
   flex-direction: column;
   gap: 10px;
  }
}

footer{
  background-color: map-get(vars.$color, light-black);
  color: map-get(vars.$color, light-gray);

  @include mixin.inner(1000px, 180px){
    position: relative;
  }

  .footer__title{
    @include mixin.abs-pos((left: 0, top:30px));
    font-size: map-get(vars.$font-size, xl);
  }

  .footer__info{
    @include mixin.abs-pos((right: 0px, top: 50px));
    display: flex;

    li::after{
      content: "|";
      padding: 0 10px;
    };

    li:last-child::after{
      content: "";
      padding: 0;
    }
  }

  .footer__address{
    @include mixin.abs-pos((bottom: 10px));
  }

}