@use "./resetCss";
@use "./_variables" as vars;
@use "./mixin" as mixin;

* {
  // 전역 기본 폰트
  font-family: vars.$font-family-basic;
}

header {
  // 공용 inner
  @include mixin.inner(1180px, 120px) {
    background-color: lightgreen;
  }
}
