@use "./resetCss";
@use "./variables" as vars;
@use "./mixin" as mixin;

* {
  // 전역 기본 폰트
  font-family: vars.$font-family-basic;
}

header {
  border-bottom: 1px solid map-get(vars.$color, black);

  a{
    padding: 5px 20px;
  }

  // 공용 inner
  @include mixin.inner(1180px, 120px) {
    position: relative;
  }

  .header__logo {
    @include mixin.abs-pos((bottom: 10px, left: 100px));  
    font-size: map-get(vars.$font-size, xl);
    font-weight: map-get(vars.$font-weight, bold);
  }

  .header__utility-menu {
    @include mixin.abs-pos((right: 20px, top: 10px));
    color: map-get(vars.$color, light-gray);

    display: flex;
    gap: 20px;
  }

  .header__main-menu {
    @include mixin.abs-pos((bottom: 20px, right: 0));
    color: map-get(vars.$color, light-gray);
    font-weight: map-get(vars.$font-weight, bold);
    
    @include mixin.row-flex(25px, true);

    a:hover{
      color: map-get(vars.$color, black);
    }
  }
}

.hero-image{

  @include mixin.col-flex(20px, true);
  height: 590px;
  color: map-get(vars.$color, white);

  background-image: url('../img/bg_main.png');

  *{
    width: 1000px;
  }

  .hero-image__title{
    font-size: map-get(vars.$font-size, xxl);
  }

  .hero-image__description{
    font-size: map-get(vars.$font-size, lg);
  }
}
