@mixin inner-container($width, $height: null, $relative: true) {
  width: $width;
  margin: 0 auto;

  @if $height != null {
    height: $height;
  }

  @if $relative == true {
    position: relative;
  }
}
