@use "../../utils/layout";

.recent-news {
  width: 100%;

  .recent-news__inner {
    @include layout.inner-container(1180px, 450px);

    .recent-news__title {
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .recent-news__list {
      display: flex;
      gap: 20px;
      justify-content: center;

      .recent-news__item {
        width: 230px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
