$hero-image: (
    height: 590px,
    background-image: url(../../Quest/bg_main.png),

    inner: (
        width: 1000px,
        col-gap: 20px
    ),

    title: (
        color: white,
        font-size: 80px
    ),

    description: (
        color: white,
        font-size: 25px
    ),
);

$recent-news: (
    inner: (
        width: 1180px,
        height: 450px,
        col-gap: 40px
    ),

    title: (
        font-size: 20px
    ),

    item: (
        width: 230px,
        row-gap: 40px,
        title-padding: 8px 0,
    )
    
);