@use "sass:map";
@forward "../common/resetCss"; // 공용
@forward "../common/sr-only"; // 공용
@forward "../components/header";
@use "../utils/layout";

@use "../components/header.vars" as header;
@use "./gallery.vars" as gallery;

*{
    font-family: layout.$font-base;
}

.gallery{
    // header의 높이 값을 가져옮
    $header-inner: map.get(header.$header, inner);
    padding-top: (map.get($header-inner, height) + 10px);

    $merry-christmas: map.get(gallery.$gallery, merry-christmas);
    $frozen: map.get(gallery.$gallery, frozen);
    $present: map.get(gallery.$gallery, present);
    $life: map.get(gallery.$gallery, life);
    $be-rich: map.get(gallery.$gallery, be-rich);
    $digital-nomad: map.get(gallery.$gallery, digital-nomad);

    width: map.get(gallery.$gallery, width);
    margin: 0 auto;
    
    figure{
        position: relative;
        color: map.get(gallery.$gallery, default-font-color); 
        font-weight: map.get(gallery.$gallery, default-font-weight);
        
        figcaption{
            position: absolute;
        }

        .merry-christmas{
            @each $key,$value in map.get($merry-christmas, abs-pos){
                #{$key}: $value
            }

            font-size: map.get($merry-christmas, font-size);
        }

        .frozen{
            @each $key,$value in map.get($frozen, abs-pos){
                #{$key}: $value
            }

            font-size: map.get($frozen, font-size);
        }

        .present{
            @each $key,$value in map.get($present, abs-pos){
                #{$key}: $value
            }

            font-size: map.get($present, font-size); 
        }

        .be-rich{
            @each $key,$value in map.get($be-rich, abs-pos){
                #{$key}: $value
            }

            font-size: map.get($be-rich, font-size);
            color: map.get($be-rich, color)
        }

        .life{
           width: 100%;
           text-align: center;
           top: 50%;
           transform: translateY(-50%);

           font-size: map.get($life, font-size);
           text-shadow: map.get($life, text-shadow);
        }

        .digital-nomad{
            @each $key,$value in map.get($digital-nomad, abs-pos){
                #{$key}: $value
            }

            font-size: map.get($digital-nomad, font-size);
            font-weight: map.get($digital-nomad, font-weight);
            line-height: map.get($digital-nomad, line-height);

            strong{
                font-size: map.get($digital-nomad, strong-font-size);
            }
        }
    }
}