@forward "../common/resetCss"; // 공용
@forward "../components/header"; // 공용
@forward "../components/footer"; // 공용
@use "../utils/layout";

@use "sass:map";
@use "./index.vars" as vars;
@use "../components/header.vars" as header-vars;

*{
    font-family: layout.$font-base;
}

.hero-image{
    $inner: map.get(vars.$hero-image, inner);  
    $title: map.get(vars.$hero-image, title);
    $description: map.get(vars.$hero-image, description);
    $header-inner: map.get(header-vars.$header, inner);

    padding-top: map.get($header-inner, height);

    width: 100%;
    height: map.get(vars.$hero-image, height);

    display: flex;
    background-image: map.get(vars.$hero-image, background-image);   

    .hero-image__inner{
        margin: auto;
        width: map.get($inner, width);
        min-width: map.get($inner, width);
        
        display: flex;
        flex-direction: column;
        gap: map.get($inner, col-gap);

        .hero-image__title{
            color: map.get($title, color);
            font-size: map.get($title, font-size);
        }

        .hero-image__description{
            color: map.get($description, color);
            font-size: map.get($description, font-size);
        }
    }
    
}

.recent-news{
    $inner: map.get(vars.$recent-news, inner);  
    $title: map.get(vars.$recent-news, title); 
    $item: map.get(vars.$recent-news, item); 

    width: 100%;

    .recent-news__inner{
        width:  map.get($inner, width);  
        height: map.get($inner, height);  
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        gap: map.get($inner, col-gap);
        justify-content: center;
        align-items: center;

        .recent-news__title{
            font-size: map.get($title, font-size);  
        }

        .recent-news__item{
            display: flex;
            gap: map.get($item, row-gap);
            
            figure{
                width: map.get($item, width);

                .recent-news__item-title{
                    padding: map.get($item, title-padding);
                }

            }
            
        }
        
    }
}
