@use "sass:map";
@use "./footer.vars" as vars;

footer{
    $inner: map.get(vars.$footer, inner);
    $title: map.get(vars.$footer, title);
    $info: map.get(vars.$footer, info);
    $address: map.get(vars.$footer, address);

    width: 100%;
    background-color: map.get(vars.$footer, background-color);
    color: map.get(vars.$footer, color); 
   
    .footer__inner{
        margin: 0 auto;
        width: map.get($inner, width);
        height: map.get($inner, height);
        padding: map.get($inner, padding);

        position: relative;

        .footer__title, .footer__info, .footer__address{
            position: absolute;
        }

        .footer__title{   
            @each $key, $value in map.get($title, abs-pos){
                #{$key}: $value;
            }

            font-size: map.get($title, font-size);
        }

        .footer__info{
            display: flex;

            @each $key, $value in map.get($info, abs-pos){
                #{$key}: $value;
            }

            *::after{
                content: map.get($info, after-content);  
                padding: 0 map.get($info, after-content-gap);
                }

                *:last-child::after{
                    content: "";
                    padding: 0;
                }
        }

        .footer__address{
            @each $key, $value in map.get($address, abs-pos){
                #{$key}: $value;
            }
        }
        
    }
}