footer {
  width: 100%;
  background-color: rgb(34, 34, 34);
  padding-bottom: 100px;

  .footer__inner {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    color: gray;

    .footer__title {
      position: absolute;
      font-size: 40px;
      left: 10px;
      bottom: 15px;
    }

    .footer__info {
      position: absolute;
      right: 20px;
      bottom: 15px;

      .footer__info-list {
        display: flex;

        *::after {
          content: "|";
          padding: 0 10px;
        }

        *:last-child::after {
          content: "";
          padding: 0;
        }
      }
    }

    .footer__contact {
      position: absolute;
      top: 100px;
    }
  }
}
