$footer: (
    basic-background-color: rgb(16, 19, 22),
    basic-color: rgb(54, 53, 53),

    inner-width: 1000px,
    inner-height: 100px,
    inner-padding: 40px 0,

    // 타이틀
    title-abs-pos: (top: 30px, left: 0), 
    title-font-size: 40px,

    // 기본 정보
    info-abs-pos: (top: 50px, right: 0),
    info-after-content: "|",
    info-after-content-gap: 10px,

    // 주소
    address-abs-pos: (bottom: 10px, left: 0),
)