@use "../utils/layout";

footer {
  width: 100%;
  background-color: rgb(34, 34, 34);
  padding-bottom: 100px;

  .footer__inner {
    @include layout.inner-container(1000px, 100px);
    color: gray;

    .footer__title {
      @include layout.absolute-pos($left: 10px, $bottom: 15px);

      font-size: 40px;
    }

    .footer__info {
      @include layout.absolute-pos($right: 20px, $bottom: 15px);

      .footer__info-list {
        display: flex;

        *::after {
          content: "|";
          padding: 0 10px;
        }

        *:last-child::after {
          content: "";
          padding: 0;
        }
      }
    }

    .footer__contact {
      @include layout.absolute-pos($top: 100px);
    }
  }
}
