$footer: (
    background-color: rgb(16, 19, 22),
    color: rgb(54, 53, 53),

    // inner
    inner: (
        width: 1000px,
        height: 100px,
        padding: 40px 0
    ),

    // 타이틀
    title: (
        abs-pos: (top: 30px, left: 0), 
        font-size: 40px
    ),

    // 기본 정보
    info: (
        abs-pos: (top: 50px, right: 0),
        after-content: "|",
        after-content-row-gap: 10px
    ),

    // 주소
    address: (
        abs-pos: (bottom: 10px, left: 0)
    )
)