$header__menu-item-padding: 5px 20px;

header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid black;

  .header_inner {
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    position: relative;

    .header__logo {
      position: absolute;
      left: 100px;
      bottom: 10px;
      padding: $header__menu-item-padding;
      font-size: 30px;
      font-weight: 900;
    }

    .header__utility-menu {
      position: absolute;
      top: 10px;
      right: 20px;
      display: flex;
      gap: 20px;

      .header__utility-item {
        padding: $header__menu-item-padding;
        color: gray;
      }
    }

    .header__menu {
      position: absolute;
      right: 0;
      bottom: 20px;
      display: flex;
      gap: 20px;

      .header__menu-item {
        padding: $header__menu-item-padding;
        color: rgb(160, 160, 160);
        font-weight: 900;
      }
    }
  }
}
