@use "sass:map";
@use "./header.vars" as vars;

header {
  $inner: map.get(vars.$header, inner);
  $logo: map.get(vars.$header, logo);
  $utility-menu: map.get(vars.$header, utility-menu);
  $main-menu: map.get(vars.$header, main-menu);

  width: 100%;
  position: fixed;
  z-index: map.get(vars.$header, z-index);

  background-color: map.get(vars.$header, background-color);
  border-bottom: map.get(vars.$header, border-bottom);

  .header_inner {
    width: map.get($inner, width);
    height: map.get($inner, height);

    margin: 0 auto;
    position: relative;

    .header__logo {
      position: absolute;
      @each $key, $value in map.get($logo, abs-pos){
        #{$key}: $value;
      }

      padding: map.get(vars.$header, item-padding);
      font-size: map.get($logo, font-size);
      font-weight: map.get($logo, font-weight);
    }

    .header__utility-menu {
      position: absolute;
      @each $key, $value in map.get($utility-menu, abs-pos){
        #{$key}: $value;
      }

      display: flex;
      gap: map.get($utility-menu, gap);

      a {
        padding: map.get(vars.$header, item-padding);
        color: map.get($utility-menu, color);;
      }

    }

    .header__main-menu {
      position: absolute;
      @each $key, $value in map.get($main-menu, abs-pos){
        #{$key}: $value;
      }

      display: flex;
      gap: map.get($main-menu, gap);

      a {
        padding: map.get(vars.$header, item-padding);
        color: map.get($main-menu, item-color);
        font-weight: map.get($main-menu, font-weight);

        &:hover{
          color: map.get($main-menu, item-hover-color);
        }
       
      }
    }
  }
}
