$header : (
    background-color: white,
    border-bottom: 1px solid black,
    z-index : 999,

    inner-width: 1180px,
    inner-height: 120px,

    // 로고
    logo-abs-pos: (left: 100px, bottom: 10px),
    logo-font-size: 30px,
    logo-font-weight: 900,

    // 유틸리티 메뉴
    utility-menu-abs-pos: (top: 10px, right:20px),
    utility-menu-gap : 20px,
    utility-menu-color: gray,

    // 메인 메뉴
    menu-abs-pos: (right: 0, bottom: 20px),
    menu-gap: 20px,
    menu-item-color : rgb(160, 160, 160),
    menu-item-hover-color : black,
    menu-font-weight: 900,

    // 공통적인 부분
    item-padding: 5px 20px,
)