$header : (
    background-color: white,
    border-bottom: 1px solid black,
    z-index : 999,

    item-padding: 5px 20px, // 전체 아이템 패딩

    // inner 
    inner: (
        width: 1180px,
        height: 120px
    ),

    // 로고
    logo: (
        abs-pos: (left: 100px, bottom: 10px),
        font-size: 30px,
        font-weight: 900
    ),

    // 유틸리티 메뉴
    utility-menu: (
        abs-pos: (top: 10px, right:20px),
        row-gap : 20px,
        color: gray,
    ),

    // 메인 메뉴
    main-menu: (
        abs-pos: (right: 0, bottom: 20px),
        row-gap: 20px,
        item-color : rgb(160, 160, 160),
        item-hover-color : black,
        font-weight: 900,
    ),
)