@use "../utils/variables";

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: variables.$font-base;
  color: variables.$font-baseColor;
}

a {
  text-decoration: none;
  color: black;
}
